/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f2f5;
}

.converter {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-section, .output-section {
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-selectors {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

input, select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007BFF;
}

input {
    width: calc(100% - 22px);
}

select {
    width: 45%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiBoZWlnaHQ9IjExcHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgNEw4IDExTDE2IDR6Ij48L3BhdGg+PC9zdmc+') no-repeat right 10px center/12px 12px;
    background-color: white;
}

#converted-amount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    text-align: center;
}

footer a {
    color: #007BFF;
    text-decoration: none;
    /*margin-left: 10px;*/
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}
